/* ==========================================================================
   Air skin, based on the Minimal Mistakes skin
   ========================================================================== */

/* Color codes used for the theme - Grayscale */
$primary-color              : #333333;
$dark-primary-color         : #555555;
$darker-primary-color       : #666666;
$light-primary-color        : #999999;

$background                 : #f5f5f5;
$background-light           : #ffffff;
$background-lighter         : #ffffff;
$text                       : #333333;
$link                       : #111111;
$link-dark                  : #555555;
$link-light                 : #333333;
$footer                     : #e5e5e5;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
:root {
    --global-base-color                 : #{$background};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$footer};
    --global-border-color               : #e5e5e5;
    --global-dark-border-color          : #cccccc;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-primary-color};
    --global-fig-caption-color          : #{$light-primary-color};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$link};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #666666;
    --global-thead-color                : #f0f0f0;
}